# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Myriadcoin Client
Exec=electrum-myr %u
GenericName[en_US]=Electrum-MYR
GenericName=Electrum-MYR
Icon=/usr/share/app-install/icons/electrum-myr.png
Name[en_US]=Electrum Myriadcoin Wallet
Name=Electrum Myriadcoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/myriadcoin

